.header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--gradient-rainbow);
  }

  &__logo {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -3px;
    background: var(--gradient-rainbow);
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.3s ease;

    a {
      color: transparent;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    color: var(--accent-purple);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;

    @media (hover: hover) {
      &:hover {
        color: var(--accent-blue);
        transform: scale(1.1);
      }
    }

    &.active {
      color: var(--accent-blue);
      transform: scale(1.1);
    }
  }

  &__theme {
    color: var(--accent-yellow);
    margin-left: 10px;
    transition: 0.3s ease;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}
