<div class="tabs">
    @if (levels) { 
        @for (level of levels; track level) { 
            <button 
                class="tab"
                (click)="loadCategories(level)" 
                [class.active]="level === selectedLevel()" 
            > 
                {{ level }}
                <p class="progress">12%</p>
            </button> 
        } 
    } 
</div> 

<hr>

<div class="categories"> 
    @for (category of categories(); track category.name) { 
        <a [routerLink]="['/category', category.name]"> 
            <p>{{ category.name }}</p> 
            <p>0 / {{ category.count }}</p> 
        </a> 
    } 
</div>