<div class="auth registration">
  <h2 class="registration__title">registration</h2>
  <a
    class="registration__link"
    routerLink="login"
    routerLinkActive="active"
    aria-label="Go to Login page"
    >Already registered? Log in!</a>

    <form class="registration__form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="example@domain.com" />

        @if (registrationForm.controls.email.hasError('required')) {
          <mat-error>Email is required.</mat-error>
        }

        @if (registrationForm.controls.email.hasError('email')) {
          <mat-error>Valid e-mail: example&#64;domain.com</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="isPasswordHidden ? 'password' : 'text'"
          formControlName="password"
        />
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ isPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        @if (registrationForm.controls.password.hasError('required')) {
          <mat-error>Password is required.</mat-error>
        }

        @if (registrationForm.controls.password.hasError('minLength')) {
          <mat-error>Must be 6+ characters.</mat-error>
        }
      </mat-form-field>

      <mat-error [class.visible]="errorMessage" class="error-message">
        {{ errorMessage || ' ' }}
      </mat-error>

      <button class="btn primary" type="submit" [disabled]="registrationForm.invalid">
        @if(isLoading){
          <mat-spinner diameter="20"></mat-spinner>
        } @else {
          Registration
        }

      </button>

    </form>
</div>
